<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>缘定新密 牵手七夕</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <ul class="ui-list ui-list-function ui-list-link ui-border-tb">
    {volist name="users" id="user"}

      <li class="ui-border-t">
      <a href="/user/{$user.id}">
          <div class="ui-avatar">
              <span style="background-image:url('http://localhost/uploads/{$user.photo}')"></span>
          </div>
          <div class="ui-list-info">
              <h4 class="ui-nowrap">{$user.name}</h4>
              <p class="ui-nowrap">{$user.sex == '1' ? '男' : '女'}</p>
          </div>
          <div class="ui-btn">
              {$user.number}号
          </div>
          </a>
      </li>
    {/volist}
  </ul>
</body>
</html>