<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{$user.name}</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <style>
    .photo {
      text-align: center;
    }
    .photo img{
      max-width: 100%;
      height: auto;
    }
    body {
      -moz-user-select:none;
      -webkit-user-select:none;
    }
  </style>
</head>
<body>
  <div class="photo">
    <img src="/uploads/{$user.photo}">
  </div>

  <ul class="list-group">
    <li class="list-group-item list-group-item-info">
      <h3 class="panel-title">个人介绍</h3> 
    </li>
    <li class="list-group-item">
      姓名：{$user.name}
    </li>
    <li class="list-group-item">
      性别：{$user.sex == '1' ? '男' : '女'}
    </li>
    <li class="list-group-item">
      出生日期：{$user.birthday}
    </li>
    <li class="list-group-item">
      民族：{$user.minzu}
    </li>
    <li class="list-group-item">
      身高：{$user.height}
    </li>
    <li class="list-group-item">
      学历：{$user.xueli}
    </li>
    <li class="list-group-item">
      毕业学校：{$user.school}
    </li>
    <li class="list-group-item">
      工作单位：{$user.danwei}
    </li>
    <li class="list-group-item">
      具体职位：{$user.job}
    </li>
    <li class="list-group-item">
      婚姻状况：{$user.status}
    </li>
    <li class="list-group-item">
      收入状况：{$user.shouru}
    </li>
    <li class="list-group-item">
      住房条件：{$user.zhufang}
    </li>
    <li class="list-group-item">
      手机号码：{$user.phone}
    </li>
    <li class="list-group-item">
      QQ：{$user.qq}
    </li>
    <li class="list-group-item">
      微信：{$user.wechat}
    </li>
    <li class="list-group-item">
      兴趣爱好：{$user.hobby}
    </li>
    <li class="list-group-item">
      择偶要求：{$user.yaoqiu}
    </li>
    <li class="list-group-item">
      爱情宣言：{$user.xuanyan}
    </li>
  </ul>
  <script>
        function onBridgeReady() {
            WeixinJSBridge.call('hideOptionMenu');
        }

        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    </script>
</body>
</html>